@using CachingDemo.Client.Services
@using RevalQuery.Core
@page "/search-bar-reval-query"
@rendermode InteractiveWebAssembly
@inherits RevalQuery.Blazor.QueryComponentBase

<PageTitle>Search Bar Example</PageTitle>

<div class="search-box">
    <div style="display: flex; gap: 8px;">
        <input @bind="SearchTerm" @bind:event="oninput" placeholder="Type to search..."/>

        @if (Suggestions.IsFetching)
        {
            <div>
                Loading...
            </div>
        }
    </div>

    @if (Suggestions.Error is not null)
    {
        <p style="color:red">Error: @Suggestions.Error.Message</p>
    }
    else @if (Suggestions.Data is not null)
    {
        <ul>
            @foreach (var item in Suggestions.Data)
            {
                <li>@item</li>
            }
        </ul>
    }
    else if (!Suggestions.IsFetching)
    {
        <p><em>Nothing to show</em></p>
    }
</div>

@code {
    private string SearchTerm { get; set; } = string.Empty;

    IQueryState<List<string>> Suggestions => UseQuery
    (QueryOptionsFactory.Create
        (
            ("search", SearchTerm),
            async static
                ctx =>
            {
                var res = await SearchService.SearchAsync(ctx.Key.SearchTerm);
                return QueryResult.Success(res);
            }
        )
    );
}